{% extends "layout.html" %}
{% block title %}
    Search
{% endblock %}

{% block body %}
    <div class="row pt-sm-5">
        <div class="card text-warning">
            <div class="card-body">
                <h1 class="card-title">Search Result For <!--search result--></h1>
                <table class="table-sm table-dark">
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                </table>
            </div>
        </div>

    </div>
{% endblock %}